
.items{
    max-width: fit-content;
  }
  .item_title {
    font-size: 20PX;
    color: #000000;
    font-weight: 300;
  }
  
  .item_coast {
   font-size: 32px;
   color: rgb(0, 0, 0);
   font-weight: 900;
  }
  .item_card{
 margin-right: 20px;
 margin-left: 20px;
  }
  a{
    text-decoration: none;
  }
  .item_titles{
    width: 310px;
  }