:root{
    --font-family: "CaviarDreams", sans-serif;
    --second-family: "Helvetica", sans-serif;
  }
.NavFirst{
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.NavFirst a{
    text-decoration: none;
    color: black;
}
.NavBottom{
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 300;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 40px;
}
.NavBottom a{
    text-decoration: none;
    color: black;
}
.left{
    display: flex;
 width: 160px;
    justify-content: space-between;
}
.right{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.main_title{
    font-size: 36px;
    font-family: var(--second-family);
    font-weight: 900;
font-style: italic;
margin-bottom: 20px;
width: 1200px;
margin-left: auto;
margin-right: auto;
}